<head>
  <title>Delete Car</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="{{url_for('static', filename ='livingStyle.css')}}">
   <script  src="{{url_for('static', filename ='LivingStyle.js')}}"></script> 
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Pontano+Sans" rel="stylesheet"> 
</head>

<body>
	<nav class="navbar navbar-default">
    <div id="mine" >
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('goodCategories')}}">Living Well Properties</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
         <li ><a id="home" href="{{url_for('goodCategories')}}" class="elem">Home</a></li>
          <li><a  href="{{url_for('showLogin')}}" class="elem">Login</a></li>
          <li><a href="{{url_for('goAbout')}}" class="elem">About</a></li>
        </ul>
      </div>
    </div>
  </nav>





<div id ="carInfo" class="info well">
	<h1> Delete Car </h1>
	 <p>Are you sure you want to delete this car?</p><br/>
 <form action="#" method="post">
     <button type="submit" class="btn btn-default" id="submit" type="submit">
	 Submit</button>
 </form>
 
</div>

</body>

</html>