<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <title>Furniture description</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="{{url_for('static', filename ='livingStyle.css')}}">
   <script  src="{{url_for('static', filename ='LivingStyle.js')}}"></script> 
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Pontano+Sans" rel="stylesheet"> 
</head>

<body>

<h1>Furniture description:</h1>


{% for i in furnitureDescriptions %}

<div>

<p>{{i.style}} furniture</p>
<p> Beautifully crafted in {{i.year}}</p>
<p>Sale price: ${{i.price}}</p>
</div>
<div id ="houseImage" class="itemPic">
<img src="/static{{i.image}}.jpg" alt="{{i.style}}" class="itemImage">
</div>

{% endfor %}
</body>

</html>