<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <title>House description</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="{{url_for('static', filename ='livingStyle.css')}}">
   <script  src="{{url_for('static', filename ='LivingStyle.js')}}"></script> 
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Pontano+Sans" rel="stylesheet"> 
</head>
	

<body>
<nav class="navbar navbar-default">
    <div id="mine" >
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('goodCategories')}}">Living Well Properties</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
         <li ><a id="home" href="{{url_for('goodCategories')}}" class="elem">Home</a></li>
          <li><a  href="{{url_for('showLogin')}}" class="elem">Login</a></li>
          <li><a href="{{url_for('goAbout')}}" class="elem">About</a></li>
        </ul>
      </div>
    </div>
  </nav>






<div class="info well">
<h1>House description:</h1>
<p>{{myHouse.style}} house</p>
<p> Built in {{myHouse.year}}</p>
<p>Sale price: ${{myHouse.price}}</p>

<div id ="houseImage" class="itemPic">
<img src="/static/img/{{myHouse.image}}.jpg" alt="{{myHouse.style}}" class="itemImage">
</div><br/>
<a href="{{url_for('updateHouseDetails', houseItem_style = myHouse.style)}}"><input type="button" id="edit" class="btn btn-default" value="Edit" /></a>
<a href="{{url_for('deleteHouseDetails', houseItem_style = myHouse.style)}}"><input type="button" id="delete"  class="btn btn-default" value="Delete"/></a>
</div>

</body>

</html>